<a href="https://colab.research.google.com/github/boddulagoutham/2025-2026-even-AI-B-DS-Boddula-Goutham_4115/blob/main/_Rearrange.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Rearrange

import pandas as pd

data = {
    "Name": ["A", "B", "C"],
    "Age": [22, 21, 23],
    "Marks": [85, 90, 80]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Rearranging rows by Marks (ascending)
df_sorted = df.sort_values(by="Marks")

print("\nAfter rearranging rows by marks (ascending):")
print(df_sorted)

# Rearranging rows by Marks (descending)
df_sorted_desc = df.sort_values(by="Marks", ascending=False)

print("\nAfter rearranging rows by marks (descending):")
print(df_sorted_desc)

# Rearranging columns
df_rearranged_cols = df[["Marks", "Name", "Age"]]

print("\nAfter rearranging columns:")
print(df_rearranged_cols)

Original DataFrame:
  Name  Age  Marks
0    A   22     85
1    B   21     90
2    C   23     80

After rearranging rows by marks (ascending):
  Name  Age  Marks
2    C   23     80
0    A   22     85
1    B   21     90

After rearranging rows by marks (descending):
  Name  Age  Marks
1    B   21     90
0    A   22     85
2    C   23     80

After rearranging columns:
   Marks Name  Age
0     85    A   22
1     90    B   21
2     80    C   23

In [ ]:
import pandas as pd

# Simple DataFrame
data = {
    "Department": ["IT", "IT", "HR", "HR", "Finance"],
    "Name": ["A", "B", "C", "D", "E"],
    "Marks": [80, 85, 75, 90, 88]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

print("\nAverage Marks by department:")
print(df.groupby("Department")["Marks"].mean())

print("\nTotal marks by department:")
print(df.groupby("Department")["Marks"].sum())

print("\nStudent count by department:")
print(df.groupby("Department")["Marks"].count())

Original Data:
  Department Name  Marks
0         IT    A     80
1         IT    B     85
2         HR    C     75
3         HR    D     90
4    Finance    E     88

Average Marks by department:
Department
Finance    88.0
HR         82.5
IT         82.5
Name: Marks, dtype: float64

Total marks by department:
Department
Finance     88
HR         165
IT         165
Name: Marks, dtype: int64

Student count by department:
Department
Finance    1
HR         2
IT         2
Name: Marks, dtype: int64