<a href="https://colab.research.google.com/github/boddulagoutham/2025-2026-even-AI-B-DS-Boddula-Goutham_4115/blob/main/Grouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

# Grouping
import pandas as pd

# Simple Dataframe
data = {
    "Department": ["IT", "IT", "HR", "HR", "Finance"],
    "Name": ["A", "B", "C", "D", "E"],
    "Marks": [80, 85, 75, 90, 88]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

print("\n Average Marks by department:")
print(df.groupby("Department")["Marks"].mean())

print("\nTotal marks by department:")
print(df.groupby("Department")["Marks"].sum())

Original Data:
  Department Name  Marks
0         IT    A     80
1         IT    B     85
2         HR    C     75
3         HR    D     90
4    Finance    E     88

 Average Marks by department:
Department
Finance    88.0
HR         82.5
IT         82.5
Name: Marks, dtype: float64

Total marks by department:
Department
Finance     88
HR         165
IT         165
Name: Marks, dtype: int64