<a href="https://colab.research.google.com/github/boddulagoutham/2025-2026-even-AI-B-DS-Boddula-Goutham_4115/blob/main/Selection_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Selecting Data
import pandas as pd
data={
    "ID":[101,102,103,104,105],
    "Name":["Alice","Bob","Charlie","David","Eva"],
    "Age":[22,25,23,24,26],
    "Marks":[85,78,92,88,90]
}
df=pd.DataFrame(data)
print("Original Data:")
print(df)
print("Displaying only the 'Names' Column\n")
print(df["Name"])
print("\nDisplaying only the 'Name' and 'Marks' Columns\n")
print(df[["Name","Marks"]])
print("\nLocation 0\n",df.iloc[0])
print("\nLocation 1 to 4\n",df.iloc[1:4])
print("\nLocation 1 to 3\n",df.iloc[0:3,1:3])

Original Data:
    ID     Name  Age  Marks
0  101    Alice   22     85
1  102      Bob   25     78
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eva   26     90
Displaying only the 'Names' Column

0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object

Displaying only the 'Name' and 'Marks' Columns

      Name  Marks
0    Alice     85
1      Bob     78
2  Charlie     92
3    David     88
4      Eva     90

Location 0
 ID         101
Name     Alice
Age         22
Marks       85
Name: 0, dtype: object

Location 1 to 4
     ID     Name  Age  Marks
1  102      Bob   25     78
2  103  Charlie   23     92
3  104    David   24     88

Location 1 to 3
       Name  Age
0    Alice   22
1      Bob   25
2  Charlie   23