<a href="https://colab.research.google.com/github/boddulagoutham/2025-2026-even-AI-B-DS-Boddula-Goutham_4115/blob/main/simple_data_frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Get number of elements
n = int(input("Enter number of elements: "))

# Initialize empty list
arr = []

# Get elements from the user
for i in range(n):
    element = int(input(f"Enter element {i+1}: "))
    arr.append(element)

# Get the element to search for
key = int(input("Enter element to search: "))

# Initialize found flag
found = False

# Search for the element
for i in range(n):
    if arr[i] == key:
        print(f"Element {key} found at position {i+1}")
        found = True
        break

# If element was not found
if not found:
    print("Element not found")

Enter number of elements: 12
Enter element 1: 12
Enter element 2: 21
Enter element 3: 23
Enter element 4: 45
Enter element 5: 56
Enter element 6: 67
Enter element 7: 56
Enter element 8: 56
Enter element 9: 34
Enter element 10: 24
Enter element 11: 545
Enter element 12: 564
Enter element to search: 56
Element 56 found at position 5

In [ ]:
import pandas as pd

# Simple DataFrame
data = {
    "Department": ["IT", "IT", "HR", "HR", "Finance"],
    "Name": ["A", "B", "C", "D", "E"],
    "Marks": [80, 85, 75, 90, 88]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

print("\nAverage Marks by department:")
print(df.groupby("Department")["Marks"].mean())

print("\nTotal marks by department:")
print(df.groupby("Department")["Marks"].sum())

print("\nStudent count by department:")
print(df.groupby("Department")["Marks"].count())

Original Data:
  Department Name  Marks
0         IT    A     80
1         IT    B     85
2         HR    C     75
3         HR    D     90
4    Finance    E     88

Average Marks by department:
Department
Finance    88.0
HR         82.5
IT         82.5
Name: Marks, dtype: float64

Total marks by department:
Department
Finance     88
HR         165
IT         165
Name: Marks, dtype: int64

Student count by department:
Department
Finance    1
HR         2
IT         2
Name: Marks, dtype: int64