<a href="https://colab.research.google.com/github/boddulagoutham/2025-2026-even-AI-B-DS-Boddula-Goutham_4115/blob/main/SQLITE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

# Connect to SQLite database (creates file if it doesn't exist)
conn = sqlite3.connect("example.db")

# Create a cursor object
cursor = conn.cursor()

# Create Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    email TEXT UNIQUE
)
""")
print("Table created successfully.")

# Insert Data
cursor.execute("INSERT INTO users (name, age, email) VALUES (?, ?, ?)",
               ("Alice", 25, "alice@example.com"))

cursor.execute("INSERT INTO users (name, age, email) VALUES (?, ?, ?)",
               ("Bob", 30, "bob@example.com"))

conn.commit()
print("Data inserted successfully.")

# Read Data (SELECT)
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

print("\nUsers in database:")
for row in rows:
    print(row)

# Update Data
cursor.execute("UPDATE users SET age = ? WHERE name = ?", (28, "Alice"))
conn.commit()
print("\nRecord updated successfully.")

# Delete Data
cursor.execute("DELETE FROM users WHERE name = ?", ("Bob",))
conn.commit()
print("Record deleted successfully.")

# Display Final Data
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

print("\nFinal data:")
for row in rows:
    print(row)

# Close connection
conn.close()
print("\nDatabase connection closed.")

Table created successfully.
Data inserted successfully.

Users in database:
(1, 'Alice', 25, 'alice@example.com')
(2, 'Bob', 30, 'bob@example.com')

Record updated successfully.
Record deleted successfully.

Final data:
(1, 'Alice', 28, 'alice@example.com')

Database connection closed.